body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.main-content {
    padding: 50px 0;
}

.profile-img {
    border: 5px solid #6c757d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px; /* 원하는 크기로 조정 */
    height: 200px; /* 원하는 크기로 조정 */
    object-fit: cover;
}

.main-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #6c757d;
}

.main-content p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #6c757d;
}

.main-content a {
    color: #007bff;
    text-decoration: none;
}

.main-content a:hover {
    text-decoration: underline;
}

.interests span {
    display: inline-block;
    background-color: #ffdead;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: #6c757d;
}
